<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">


    <!-- spring自动读取指定位置的配置为简到spring中 -->
    <context:property-placeholder location="classpath:/properties/jdbc.properties"/>

    <!--<context:component-scan base-package="org.activiti.app.repository"/>-->

    <!-- c3p0数据源配置 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="minPoolSize" value="${jdbc.min-pool-size}"/>
        <property name="maxPoolSize" value="${jdbc.max-pool-size}"/>
        <property name="acquireIncrement" value="${jdbc.acquire-increment}"/>
        <!--<property name="preferredTestQuery" value="${jdbc.preferred-test-query}"/>-->
        <property name="testConnectionOnCheckin" value="${jdbc.test-connection-on-checkin}"/>
        <property name="testConnectionOnCheckout" value="${jdbc.test-connection-on-checkout}"/>
        <property name="maxIdleTime" value="${jdbc.max-idle-time}"/>
        <property name="maxIdleTimeExcessConnections" value="${jdbc.max-idle-time-excess-connections}"/>
    </bean>

     <!--sessionFactory -->
    <bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations">
            <list>
                <value>classpath:mappers/**/*.xml</value>
            </list>
        </property>
    </bean>

     <!--mapper扫描器 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.dianer"/>
        <property name="sqlSessionFactoryBeanName" value="sessionFactory"/>
    </bean>
     <!--事务配置 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 使用annotation定义事务 -->
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>



    <!-- ========================================================================================== -->


    <!-- Activiti -->
    <!-- 流程引擎bean -->
    <bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
        <property name="processEngineConfiguration" ref="processEngineConfiguration"/>
    </bean>

    <!--流程引擎配置bean -->
    <bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
        <property name="dataSource" ref="dataSource"/>
        <property name="databaseSchemaUpdate" value="true"/>
        <property name="transactionManager" ref="transactionManager"/>
        <property name="asyncExecutorActivate" value="true"/>
        <property name="asyncExecutor" ref="asyncExecutor"/>
    </bean>
    <bean name="asyncExecutor" class="org.activiti.engine.impl.asyncexecutor.DefaultAsyncJobExecutor">
        <property name="defaultAsyncJobAcquireWaitTimeInMillis" value="5000" />
        <property name="defaultTimerJobAcquireWaitTimeInMillis" value="5000" />
    </bean>


    <!--服务组件-->
    <bean id="repositoryService" factory-bean="processEngine" factory-method="getRepositoryService"/>
    <bean id="runtimeService" factory-bean="processEngine" factory-method="getRuntimeService"/>
    <bean id="taskService" factory-bean="processEngine" factory-method="getTaskService"/>
    <bean id="historyService" factory-bean="processEngine" factory-method="getHistoryService"/>
    <bean id="formService" factory-bean="processEngine" factory-method="getFormService"/>
    <bean id="identityService" factory-bean="processEngine" factory-method="getIdentityService"/>
    <bean id="managementService" factory-bean="processEngine" factory-method="getManagementService"/>
    <bean id="formEngineRepositoryService" factory-bean="processEngine" factory-method="getFormEngineRepositoryService"/>
    <bean id="formEngineFormService" factory-bean="processEngine" factory-method="getFormEngineFormService"/>

    <bean id="clock" depends-on="processEngine" factory-bean="processEngineConfiguration" factory-method="getClock" />
    <!-- Activiti  End -->

</beans>